fastapi
uvicorn
gunicorn
pandas
python-dotenv
google-generativeai
python-multipart
fastapi
uvicorn
requests
beautifulsoup4
lxml
selenium
pdfplumber
pypdf
pytesseract
Pillow
opencv-python
easyocr
openai-whisper
pydub
ffmpeg-python
pandas
openpyxl
xlrd
openai
transformers
langchain
python-multipart
python-dotenv
tqdm
unstructured
docx2txt
json5
tabula-py
PyYAML

